### Задача 1
Выведите список видов (specie), описываемых в таблице chip_experiments

In [8]:
# Место для ответа
import os
path_to_code = os.getcwd()
path_to_inp_database = os.path.join(path_to_code, os.pardir, 'lections', 'files_and_images', 'database.sqlite')

import sqlite3
con = sqlite3.connect(path_to_inp_database)
cursor = con.cursor()

result = cursor.execute('SELECT DISTINCT(specie) FROM chip_experiments')
print(result.fetchall())

[('Homo sapiens',), ('Mus musculus',), ('Rattus norvegicus',), ('Schizosaccharomyces pombe',), ('Arabidopsis thaliana',), ('Saccharomyces cerevisiae',), ('Caenorhabditis elegans',), ('Drosophila melanogaster',)]

### Задача 2
Выведите колонки: id, treatment и cell_id первых 10 записей из таблицы dnase_experiments, упорядоченные по cell_id по убыванию.

In [13]:
# Место для ответа
result = cursor.execute('SELECT id, treatment, cell_id FROM dnase_experiments ORDER BY cell_id DESC LIMIT 10')
result.fetchall()

[('DEXP002972', '', 6646),
 ('DEXP002971', '', 6645),
 ('DEXP002970', '', 6644),
 ('DEXP002826', 'Treatment: DNase; GTRD_Rep_Group: 6', 6567),
 ('DEXP002827', 'Treatment: DNase; GTRD_Rep_Group: 6', 6567),
 ('DEXP002816', 'Treatment: DNase; GTRD_Rep_Group: 1', 6566),
 ('DEXP002815', 'Treatment: DNase', 6565),
 ('DEXP002822', 'Treatment: DNase; GTRD_Rep_Group: 4', 5892),
 ('DEXP002823', 'Treatment: DNase; GTRD_Rep_Group: 4', 5892),
 ('DEXP002969', '', 5345)]

### Задача 3
Выведите 10 записей из таблицы cells, в которых title содержит слово "cancer". Ограничьте вывод только колонками id и title. Какой минимальный и максимальный идентификатор имеют эти записи (не ограничиваясь 10)?

In [22]:
# Место для ответа
result = cursor.execute("SELECT id, title FROM cells WHERE title LIKE '%cancer%' LIMIT 10")
print(result.fetchall())
result = cursor.execute("SELECT MIN(id), MAX(id) FROM cells WHERE title LIKE '%cancer%'")
print(result.fetchall())

[(66, 'prostate cancer'), (90, 'BicR (prostate cancer)'), (527, 'KSIC_c806 (pancreatic cancer)'), (555, "LREX' (prostate cancer)"), (557, 'LS180 (colon cancer)'), (558, 'LTED (breast cancer)'), (565, 'prostate cancer metastasis'), (586, 'MCFDCIS (breast cancer)'), (604, 'metastatic prostate cancer tissue'), (619, 'MMTV-PyMT breast cancer cells')]
[(66, 6365)]

### Задача 4
Сколько записей с значением поля specie равного либо 'Homo sapiens' либо 'Drosophila melanogaster' присутствует в таблице chip_experiments?

In [27]:
# Место для ответа
result = cursor.execute("SELECT COUNT(specie) FROM chip_experiments WHERE specie IN ('Homo sapiens', 'Drosophila')")
print(result.fetchall())

[(1543,)]

### Задача 5
Сгруппируйте записи таблицы chip_experiments по идентификатору транскрипционного фактора (tf_uniprot_db). Выведите на экран транскрипционные факторы и количество экспериментов, соответствующее им. Выведите на экран только ту часть таблицы, содержащую транскрипционные факторы, описанные в более чем 50 экспериментах

In [36]:
# Место для ответа
cursor.execute("SELECT tf_uniprot_id, COUNT(tf_uniprot_id) AS count "
                        "FROM chip_experiments GROUP BY tf_uniprot_id HAVING count > 50")
print(result.fetchall())

[('O60885', 76), ('P49711', 63)]

### Задача 6
Получите список идентификаторов клеточных типов (из таблицы cells), которые не встречаются в таблице cells. Сколько таких клеточных типов?

In [37]:
# Место для ответа
# cursor.execute("SELECT cell_id, COUNT(tf_uniprot_id) AS count "
#                         "FROM chip_experiments GROUP BY tf_uniprot_id HAVING count > 50")
# print(result.fetchall())

result = cursor.execute("SELECT id, cell_id FROM chip_experiments AS exps"
                        "LEFT JOIN cells ON exps.cell_id = cells.id")
print(result.fetchall())

# result = cursor.execute("SELECT id, cell_id FROM chip_experiments AS exps"
#                         "LEFT JOIN cells ON exps.cell_id = cells.id")

OperationalError: ambiguous column name: id

### Задача 7
Какое количество транскрипционных факторов описывается экспериментами из chip_experiments для клеточных типов: 514, 113, 546 и 27. Следует исключить эксперименты, относящиеся к контролю, т. е. эксперименты, содержащие в experiment_type слово control.

In [43]:
# Место для ответа
result = cursor.execute("SELECT COUNT(tf_uniprot_id) FROM chip_experiments "
                        "WHERE cell_id IN ('514', '113', '546', '27') AND experiment_type NOT IN ('%control%')")
result.fetchall()

[(89,)]

### Задача 8
Получите список названий генов (gene_name) для всех экспериментов, содержащихся в таблице chip_experiments

In [46]:
# Место для ответа
result = cursor.execute('SELECT DISTINCT(gene_name) FROM chip_experiments')
#result = cursor.execute('SELECT * FROM chip_experiments LIMIT 5')
result.fetchall()

OperationalError: no such column: gene_name

### Задача 9
Необходимо получить таблицу, в которой для каждого эксперимента приводится описание клеточного типа и транскрипионного фактора. Для этого напишите запрос, выводящий 5 строк вида chip_experiments.id, chip_experiments.cell_id, cell_id.title, chip_experiments.tf_uniprot_id, uniprot.gene_name.

In [ ]:
# Место для ответа

### Задача 10
Модифицируйте таблицу cells, добавьте префикс "EMBRYO:" в названия всех клеточных типов, содержашие слово "embryo"

Для решения данной задачи пригодится функция CONCAT(string1, string2, ...), возвращающая сконкатенированную строку

In [ ]:
# Место для ответа